* {
    box-sizing: border-box;
}


html {

    font-family: "Poppins", sans-serif;

}

h1, h2, h3, h4,h5,h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    background-color: #000;
    
}


#root {

    display: flex;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

.green {
    color: green;
}


.red {
    color: red;
}