* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #000;
}

html {
	font-family: "Poppins", sans-serif;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
	margin: 0;
	padding: 0;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}
