%match-bg {
	background-image: url("/assets/match-bg-mobile.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width: 717px) {
		background-image: url("/assets/match-bg-desktop.png");
	}
}
