@use "../abstracts/extensions";
.contact {

    &__main {
        @extend %match-up-bg;
		align-items: center;
		justify-content: center;

        section {
            width: 400px;

        }
    }
}
