@use "../abstracts/mixins";

.log {

    &__main {
        background-image: url('/assets/bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;

        & > section:first-of-type {
            padding: 10px;
            width: 400px;
            background-color: rgba($color: #000000, $alpha: 0.7);
            border-radius: 10px;
            overflow: hidden;
            
            & > section:last-of-type {
        
                @include mixins.flex-box();
                padding: 5px;
               
                background-color: rgba($color: #000000, $alpha: 0.7);
                
               
            }
            
        }

       
    }
}
