@use "../abstracts/variables";

.article-input {
	display: flex;
	flex-direction: column;
	margin-block: 10px;

	input {
		border-radius: 5px;
		padding: 10px;
		border: none;
		outline: variables.$pink solid 2px;
	}

	.error {
		padding: 5px;
		small {
			color: rgb(236, 135, 135);
		}
	}
}
