.custom-form {
	display: flex;
	flex-direction: column;
	& > section:first-of-type {
		display: flex;
		flex-direction: column;
	}

	& > section:last-of-type {
		margin-block: 10px;
		display: flex;
		justify-content: space-between;
		
	}
}
